      body {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .score {
        text-align: center;
        font-size: 2.5em;
       }

      .good {
        color: green;
      }

      .good-block {
        background-color: #E6F8E0;
        padding: 10px;
        margin-bottom: 5px;
      }

      li.good {
        list-style-image:url('/img/tick_circle.png');
      }

      .warn-block {
        background-color: #F7F8E0;
        padding: 10px;
        margin-bottom: 5px;
      }

      .warn {
        color: orange;
      }

      .bad {
        color: red;
      }

.bad-block {
  background-color: #F8E0E0;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

      li.bad {
        list-style-image:url('/img/badge_circle_cross.png');
      }

      .title-block {
        background-color: #777777;
        color: #FFF;
        padding: 5px;
        margin-bottom: 5px;
      }

.points {
}

.summary {
  border: 2px dashed #e0e0e0;
  padding: 10px;
}

.summary-table {
  width: 100%;
}

.summary-table td {
  vertical-align: top;
  width: 25%;
}

.summary-table td.left {
  vertical-align: top;
  padding: 0px 10px 0px 0px;
  text-align: right;
  width: 50%;
}

