<%- model_class = Service -%>
<h1>Security report for <%= link_to @service.name, @service.url %></h1>
<p class="muted">Last updated 2013-07-03 11:55 by zeroXten</p>

<div class="row">
  <div class="span9">
    <%= render 'summary' %>
    <br/>
    <p><%= @service.description %></p>
    <br/>
  </div>

  <div class="span3">
    <%= render 'score' %>
  </div>
</div>

