<div class="summary">
<table class="summary-table">

<% @categories.sort.map do |name, category| %>
<%
  score = @service_scores[name][:score]
  if score < 0
    good_width = 0
    bad_width = 100 * score / @category_scores[name][:min]
  else
    good_width = 100 * score / @category_scores[name][:max]
    bad_width = 0
  end
%>

<tr>
  <td class="left"><%= name %></td>
  <td><div class="progress"><div class="progress bar-danger pull-right" style="width: <%= bad_width %>%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: <%= good_width %>%"></div><div class="progress"></td>
</tr>
<% end %>

</table>
</div>

<br/>
<p><%= @service.description %></p>
<br/>

