<div class="summary">
<table class="summary-table">
<tr>
  <th></th>
  <th>% negative scoring</th>
  <th>% positive scoring</th>
</tr>
<% @categories.sort.map do |name, category| %>
  <%
    if @category_scores[name][:min] == 0
      bad_width = 0
    else
      bad_width = 100 * @service_scores[name][:bad] / @category_scores[name][:min]
    end

    if @category_scores[name][:max] == 0
      good_width = 0
    else
      good_width = 100 * @service_scores[name][:good] / @category_scores[name][:max]
    end
  %>

  <tr>
    <td class="left"><%= name %></td>
    <td><div class="progress"><div class="progress bar-danger pull-right" style="width: <%= bad_width %>%"></div><div class="progress"></td>
    <td><div class="progress"> <div class="progress bar-success" style="width: <%= good_width %>%"></div><div class="progress"></td>
  </tr>
<% end %>

</table>
</div>

<br/>
<p><%= @service.description %></p>
<br/>

