<%- model_class = Service -%>
<%
  c = @service.score >= 0.5 ? "good-block" : "bad-block"
%>
<div class="text-center">
<div class="block <%= c %> score"><%= (10 * @service.score).round %>/10</div>
<br/>
<img alt="screenshot" src="http://placehold.it/256x192" width="256" height="192"> <!-- 1024x768 scaled down to 25% -->
<br/>
<p><%- if @service.country %>
Hosted in <%= image_tag "flags/#{@service.country.downcase}.png" %> 
<% end %>
<%- if @service.hosting_provider %>
by <%= @service.hosting_provider %>
<% end %></p>
</div>
