
<%= render 'report_header' %>

<h3>Needs fixing</h3>

<ul class="nav nav-list">
  <li><i class="icon-remove"></i><span class="bad"> Does not support federated logins that allow you to login with centralised credentials such as Google or Facebook</span></li>
  <li><i class="icon-remove"></i><span class="bad"> Uses fixed questions and user-provided answers for password resets</span></li>
  <li><i class="icon-remove"></i><span class="bad"> Unknown whether or how encryption is used for storing data</span></li>
  <li><i class="icon-remove"></i><span class="bad"> Indefinate storage of user data</span></li>
  <li><i class="icon-remove"></i><span class="bad"> No public disclosure policy that states how it handles vulnerability reports from security researchers</span></li>
  <li><i class="icon-remove"></i><span class="bad"> No bug bounty programm that encourages responsible disclosure of vulnerabilites and pays researchers for their efforts</span></li>
  <li><i class="icon-remove"></i><span class="bad"> May user personal data for marketing purposes</span></li>
  <li><i class="icon-remove"></i><span class="bad"> May pass on personal data to third parties</span> </li>
  <li><i class="icon-remove"></i><span class="bad"> Has had a recently securit incident in while sensitive user data mwas made public by unauthorized third parties</span></li>
</ul>

<h3>A job well done</h3>

<ul class="nav nav-list">
  <li><i class="icon-ok"></i><span class="good"> Allows two-factor (e.g. SMS or mobile app)</span></li>
  <li><i class="icon-ok"></i><span class="good"> Stores account passwords securely</span></li>
  <li><i class="icon-ok"></i><span class="good"> Unrestricted password character set and/or length</span></li>
  <li><i class="icon-ok"></i><span class="good"> Small amount of personal or sensitive data is stored</span></li>
  <li><i class="icon-ok"></i><span class="good"> All traffic to site is encrypted</span></li>
  <li><i class="icon-ok"></i><span class="good"> SSL/TLS is rated as A by Qualsys SSLabs</span></li>
</ul>


<a class="btn btn-primary pull-right" href="/full_report/">Full Report</a>

<%= render 'comments' %>
