
<%= render 'report_header' %>

<ul class="nav nav-list">
  <li><i class="icon-remove"></i><span class="bad"> Provides only minimal details on cryptography and security implementations</span></li>
  <li><i class="icon-remove"></i><span class="bad"> No zero-knowledge policy</span></li>
  <li><i class="icon-remove"></i><span class="bad"> No two-factor support</span></li>
  <li><i class="icon-remove"></i><span class="bad"> No federated authentication</span></li>
  <li><i class="icon-remove"></i><span class="bad"> Question/Answer used for password reset </span></li>
  <li><i class="icon-remove"></i><span class="bad"> May provide your details to third parties</span></li>
  <li><i class="icon-remove"></i><span class="bad"> May use your details for marketing purposes</span></li>
  <li><i class="icon-remove"></i><span class="bad"> Defaults to weak TLS implemenation</span> </li>
  <li><i class="icon-remove"></i><span class="bad"> No bug bounty programme</span></li>
  <li><i class="icon-ok"></i><span class="good"> TLS used on whole site</span></li>
  <li><i class="icon-ok"></i><span class="good"> Non-restrictive EULA</span></li>
  <li><i class="icon-ok"></i><span class="good"> Cookies only over TLS</span></li>
  <li><i class="icon-ok"></i><span class="good"> Secure password storage</span></li>
  <li><i class="icon-ok"></i><span class="good"> Appropriate disclosure policy</span></li>
  <li><i class="icon-ok"></i><span class="good"> No advertising</span></li>
  <li><i class="icon-ok"></i><span class="good"> No known security incidents</span></li>
</ul>

<a class="btn btn-primary pull-right" href="/full_report/">Full Report</a>

<%= render 'comments' %>
