<div class="row">
  <div class="span9">

  </div>

  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to 'Report Categories', report_categories_path() %></li>
      <li><%= link_to 'Report Items', report_items_path() %></li>
      <li><%= link_to 'Report Choices', report_choices_path() %></li>
      <li><%= link_to 'Answers', answers_path() %></li>
    </ul>
  </div>
</div>

