<h2>Security report for <a href="http://google.com/">Google Web Search</a> (search engine)</h2>
<p class="muted">Last updated 2013-07-03 11:55 by zeroXten</p>

<div class="row">
<div class="span6">
<%= render 'report_summary' %>
<br/>
<p>In hac habitasse platea dictumst. Aenean vitae dignissim dui. Maecenas eget lorem varius, tincidunt nulla et, dapibus sapien. Cras aliquet tortor vel nulla luctus sodales. Aliquam quis urna neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra quam vitae libero vestibulum tristique. Sed ligula ante, aliquam sit amet tortor quis, sagittis scelerisque nisl.</p>
<br/>
</div>

<div class="span3">
<%= render 'report_score' %>
</div>

</div>
