<table class="summary-table">

<tr>
  <td style="width: 50%">Data at Rest</td>
  <td><div class="progress"><div class="progress bar-danger" style="width: 10%"></div></div></td>
</tr>

<tr>
  <td style="width: 50%">Authentication &amp; Session Management</td>
  <td><div class="progress"><div class="progress bar-danger" style="width: 20%"></div></div></td>
</tr>


<tr>
  <td style="width: 50%">Privacy &amp; EULA</td>
  <td><div class="progress"><div class="progress bar-danger" style="width: 20%"></div></div></td>
</tr>


<tr>
  <td style="width: 50%">Data in Motion</td>
  <td><div class="progress"><div class="progress bar-warning" style="width: 35%"></div></div></td>
</tr>


<tr>
  <td style="width: 50%">Disclosure</td>
  <td><div class="progress"><div class="progress bar-success" style="width: 55%"></div></div></td>
</tr>


<tr>
  <td style="width: 50%">Advertising</td>
  <td><div class="progress"><div class="progress bar-success" style="width: 85%"></div></div></td>
</tr>


<tr>
  <td style="width: 50%">History</td>
  <td><div class="progress"><div class="progress bar-success" style="width: 100%"></div></div></td>
</tr>

</table>
