<div class="summary">
<table class="summary-table">

<tr>
  <td class="left">Data at Rest</td>
  <td><div class="progress"><div class="progress bar-danger pull-right" style="width: 90%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: 0%"></div><div class="progress"></td>
</tr>

<tr>
  <td class="left">Authentication &amp; Session Management</td>
  <td><div class="progress"><div class="progress bar-danger pull-right" style="width: 40%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: 0%"></div><div class="progress"></td>
</tr>


<tr>
  <td class="left">Privacy &amp; EULA</td>
  <td><div class="progress"><div class="progress bar-danger pull-right" style="width: 15%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: 0%"></div><div class="progress"></td>
</tr>


<tr>
  <td class="left">Data in Motion</td>
  <td><div class="progress"><div class="progress bar-warning pull-right" style="width: 5%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: 0%"></div><div class="progress"></td>
</tr>


<tr>
  <td class="left">Disclosure</td>
  <td><div class="progress"><div class="progress bar-warning pull-right" style="width: 0%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: 20%"></div><div class="progress"></td>
</tr>


<tr>
  <td class="left">Advertising</td>
  <td><div class="progress"><div class="progress bar-warning pull-right" style="width: 0%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: 45%"></div><div class="progress"></td>
</tr>


<tr>
  <td class="left">History</td>
  <td><div class="progress"><div class="progress bar-warning pull-right" style="width: 0%"></div><div class="progress"></td>
  <td><div class="progress"> <div class="progress bar-success" style="width: 90%"></div><div class="progress"></td>
</tr>

</table>
</div>
