<table class="table">
<tr class="error">
<td><i class="icon-remove"></i></td>
<td>Data at rest</td>
<td>-20</td>
</tr>
<tr class="error">
<td><i class="icon-remove"></i></td>
<td>Authentication &amp; Session Management</td>
<td>-10</td>
</tr>
<tr class="error">
<td><i class="icon-remove"></i></td>
<td>Privacy &amp; EULA</td>
<td>-10</td>
</tr>
<tr class="warning">
<td><i class="icon-minus"></i></td>
<td>Data in transit</td>
<td>-5</td>
</tr>
<tr class="success">
<td><i class="icon-ok"></i></td>
<td>Disclosure</td>
<td>+5</td>
</tr>
<tr class="success">
<td><i class="icon-ok"></i></td>
<td>Advertising</td>
<td>+10</td>
</tr>
<tr class="success">
<td><i class="icon-ok"></i></td>
<td>History</td>
<td>+0</td>
</tr>
</table>           
